<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>940673398449-iaj2alakmnkert1elfbnv94h9rv09l7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940673398449-iaj2alakmnkert1elfbnv94h9rv09l7c</string>
	<key>API_KEY</key>
	<string>AIzaSyAy_6-O-vSGzjg_lPtNmkcOGo0fng6XPZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>940673398449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoflutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-22c96</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-22c96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940673398449:ios:1d69160d15130b72</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-todo-22c96.firebaseio.com</string>
</dict>
</plist>